name: Update

on:
    schedule:
        - cron: '0 3 * * 0'
    workflow_dispatch:

jobs:
    update:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: npm install
            - run: npm run build
            - run: npm run fetch -- -c fr
              env:
                  GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
            - run: npm run fetch -- -c ch
              env:
                  GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
            - run: npm run fetch -- -c jp
              env:
                  GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
            - run: npm run fetch -- -c us
              env:
                  GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
            - run: npm run fetch -- -c in
              env:
                  GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
            - run: npm run fetch -- -c ng
              env:
                  GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
            - run: npm run fetch -- -c ca
              env:
                  GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
            - run: npm run generate-markdown -- -c fr
            - run: npm run generate-markdown -- -c ch
            - run: npm run generate-markdown -- -c jp
            - run: npm run generate-markdown -- -c us
            - run: npm run generate-markdown -- -c in
            - run: npm run generate-markdown -- -c ng
            - run: npm run generate-markdown -- -c ca
            - run: npm run generate-readme
            - name: Push changes
              run: |
                  git config --global user.name "GitHub Actions"
                  git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
                  git add .
                  git commit -m "Update data @ $(date +'%Y-%m-%d %H:%M:%S')"
                  git push
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
